[submodule "vscode"]
	path = vscode
	url = git@github.com:microsoft/vscode.git
[submodule "nodegit"]
	path = nodegit
	url = git@github.com:nodegit/nodegit.git
[submodule "node"]
	path = node
	url = git@github.com:nodejs/node.git
